<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Memorize tech post, roadmap and skill.">
    <meta name="keywords"
        content="Tech, Tech posts, favorite Tech posts, react, javascript, react-native, Docker, Codepen personal project.">
    <meta name="author" content="Eugene Yiew">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="all, max-image-preview:large">
    <meta name="og:title" property="og:title" content="Here memorize alot tech post, roadmap and skill.">
    <meta name="og:type" property="og:type" content="article">
    <meta name="og:url" property="og:url" content="https://node-ssr-seo.herokuapp.com/content">
    <meta name="og:image" property="og:image"
        content="https://node-ssr-seo.herokuapp.com/content/screenshot-content.jpg">

    <link rel="canonical" href="https://node-ssr-seo.herokuapp.com/">

    <title>Eugene Yiew Article</title>
    <link rel="stylesheet" href="../../stylesheets/css/category.css">
</head>

<body>
    <!-- navbar -->
    <nav class="navbar-secondary text-white justify-between">
        <div class="container">
            <h1 class="site-title">Eugene Yiew Article</h1>
        </div>
    </nav>

    <!-- work section -->
    <article id="work" class="mt-5" itemscope="" itemtype="http://schema.org/Article">
        <section class="container" itemprop="articleBody">
            <h2 class="mb-2"></h2>
            <div class="row gap-2">
                <% bookmarks.forEach(function(bookmark){ %>
                    <div class="col-12-xs col-6-md col-3-lg">
                        <div class="card p-0">
                            <h2 class="card-title m-1">
                                <%= bookmark.linkTitle %>
                                    <span style="display:none;" class="badge-orange text-white ml-1">new</span>
                            </h2>
                            <img style="display:none;" src="" alt="">
                            <p style="display:none;" class="m-1">Here Display Description</p>
                            <div class="row justify-center mt-2 mb-2">
                                <a href="<%= bookmark.linkurl %>" class="btn-secondary text-white font-md"
                                    title="<%= bookmark.linkTitle %>"
                                    target="_blank">
                                    View All
                                </a>
                            </div>
                        </div>
                    </div>
                    <% }); %>
            </div>
        </section>
    </article>
</body>

</html>